.Allh1{
      font-family: 'Plus Jakarta Sans', sans-serif; 
}
.AllP{
      font-family: "Times New Roman", Times, serif;
}


.headingpara{
    font-size: 23px;
}
@media (max-width: 1024px) {

.headingpara{
    font-size: 16px;
}
  
}




