.Allh1{
      font-family: 'Plus Jakarta Sans', sans-serif; 
}
.AllP{
      font-family: "Times New Roman", Times, serif;
}


.headingpara{
    font-size: 23px;
}


.headings{

  font-size: clamp(2rem, 5vw, 3rem);

}
@media (max-width: 1024px) {

.headingpara{
    font-size: 16px;
}
  
}




